header{
    background-color: rgb(33, 20, 220);
    margin: 0;
    padding: 19px;
    color: aliceblue;
    text-align: right;

}





.okenko{
    background-color: rgb(0, 255, 149);
    margin: 0;
    padding: 25px;
    margin: 100px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    
    
    
}


.dole{
    margin:0;
    text-align: left;
    padding: 19px;
    background-color: blueviolet;



}

.nadpis{
    
}